:root {
  --primary-color: #ebf5eb;
  --secondary-color: #5e40e4;
  --accent1-color: #264653;
  --accent2-color: #0c0c0c;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header, main, footer {
  width: 100%;
  max-width: 840px;
  margin: auto;
  padding: 0 20px;
}

nav, p, section, article {
  margin: 0px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }

  .hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 900px;
  background-color: rgba(238, 232, 232, 0.95);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.hero article img {
  float: right;
  width: 140px;
  height: auto;
  border-radius: 10px;
  flex-shrink: 0;
}

.hero article p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 900px;

    background-color: rgba(238, 232, 232, 0.95);
    padding: 1.5rem;

    display: flex;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.box img {
    width: 160px;
    height: auto;
    border-radius: 10px;
    margin-right: 1.2rem;
}

.box p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

section h2 {
    display: inline-block;
    background-color: var(--secondary-color); 
    color: #fff; 
    padding: 15px; 
    border-radius: 8px; 
    width:100%;
    text-align: center;
    margin: 2rem auto;
    font-family: var(--heading-font);
}

footer p {
    margin-bottom: 1rem;
}

footer .socialmedia a img {
    width: 40px;
    height: 40px;
    margin: 0 .5rem;
    vertical-align: middle;
}

footer .socialmedia a img:hover {
    opacity: 0.8;
}