* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: darkblue;
  padding: 10px;
}
nav a {
  color: white;
  display: block;
  padding: 20px;
}
main {
  max-width: 840px;
}
h1 {
  color: darkblue;
}
main img {
  float: right;
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p {
  padding: 0px;
}
aside {
  width: 320px;
  margin: 20px 0;
  padding: 15px;
  border: 2px solid darkblue;
  background-color: #f0f8ff;
  color: #000;
  border-radius: 8px;
  text-align: center;
}
aside img {
  width: 200px;
  height: auto;
  padding: 15px;
}
aside h2 {
  position: absolute;
  top:550px;
  left: 125px;
  padding: 10px;
}
footer {
  margin-top: 30px;     
  border-top: 2px solid gray; 
  text-align: center;       
}
.box {
  margin: 1rem;
  max-width: 500px;
  padding: 1rem;
  border: 2px solid darkblue;
  background-color: #f0f8ff;
  color: #000;
  border-radius: 8px;
} 